@import "../../styles/palette";
@import "../../styles/mixins";
@import "../../styles/constants";

.loginForm {
  color: @contrast-text-color;
  padding: @small-size;
  height: 100%;
}

.loginForm-message {
  text-align: center;
}
