.upper-text {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}
.default-shadow {
  box-shadow: 1px 1px 2px #230057;
}
.text-shadow {
  text-shadow: 1px 1px 2px #005a64;
}
.button-like {
  cursor: pointer;
  transition: 300ms;
  box-shadow: 1px 1px 2px #230057;
}
.button-like:hover {
  background-color: #230057;
}
.round-fit-image {
  margin: 10%;
  height: 80%;
  border-radius: 50%;
}
.button {
  background-color: #005a64;
  color: #b0b3ff;
  border: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 1px 1px 2px #230057;
}
.button:hover {
  background-color: #230057;
}
