.upper-text {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}
.default-shadow {
  box-shadow: 1px 1px 2px #230057;
}
.text-shadow {
  text-shadow: 1px 1px 2px #005a64;
}
.button-like {
  cursor: pointer;
  transition: 300ms;
  box-shadow: 1px 1px 2px #230057;
}
.button-like:hover {
  background-color: #230057;
}
.round-fit-image {
  margin: 10%;
  height: 80%;
  border-radius: 50%;
}
.contact {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: #005a64;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 1px 1px 2px #230057;
  text-decoration: none;
}
.contact:hover {
  background-color: #230057;
}
.contact-image {
  margin: 10%;
  height: 80%;
  border-radius: 50%;
}
.contact-strings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #b0b3ff;
  padding-bottom: 10px;
}
.contact-text {
  color: #b0b3ff;
}
.contact-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}
