.upper-text {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}
.default-shadow {
  box-shadow: 1px 1px 2px #230057;
}
.text-shadow {
  text-shadow: 1px 1px 2px #005a64;
}
.button-like {
  cursor: pointer;
  transition: 300ms;
  box-shadow: 1px 1px 2px #230057;
}
.button-like:hover {
  background-color: #230057;
}
.round-fit-image {
  margin: 10%;
  height: 80%;
  border-radius: 50%;
}
.header {
  background-color: #230057;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
}
.header-title-link {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
}
.header-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.header-main-title {
  color: #ffffff;
  padding: 30px;
  font-size: 20px;
  font-family: monospace;
  text-shadow: 1px 1px 2px #005a64;
}
.header-subtitle {
  padding: 30px;
  text-shadow: 1px 1px 2px #005a64;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}
.header-logo {
  height: 100%;
}
